<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DispatcherTest</servlet-name>
    <servlet-class>leibniz.hu.DispatcherTest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>leibniz.hu.test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCheckCode</servlet-name>
    <servlet-class>leibniz.hu.GetCheckCode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JudgeCheckCode</servlet-name>
    <servlet-class>leibniz.hu.JudgeCheckCode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllBook</servlet-name>
    <servlet-class>leibniz.hu.GetAllBook</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addBookServ</servlet-name>
    <servlet-class>leibniz.hu.addBookServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateBookServ</servlet-name>
    <servlet-class>leibniz.hu.UpdateBookServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>preUpdateBookServ</servlet-name>
    <servlet-class>leibniz.hu.preUpdateBookServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBookServ</servlet-name>
    <servlet-class>leibniz.hu.DeleteBookServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchBookServ</servlet-name>
    <servlet-class>leibniz.hu.SearchBookServ</servlet-class>
  </servlet>






 



  <servlet-mapping>
    <servlet-name>DispatcherTest</servlet-name>
    <url-pattern>/DispatcherTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCheckCode</servlet-name>
    <url-pattern>/GetCheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JudgeCheckCode</servlet-name>
    <url-pattern>/JudgeCheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllBook</servlet-name>
    <url-pattern>/getAllBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addBookServ</servlet-name>
    <url-pattern>/addBookServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServ</servlet-name>
    <url-pattern>/updateBookServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>preUpdateBookServ</servlet-name>
    <url-pattern>/preUpdateBookServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookServ</servlet-name>
    <url-pattern>/deleteBookServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBookServ</servlet-name>
    <url-pattern>/searchBookServ</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
