<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <context-param>
  	<param-name>jumpConfig</param-name>
  	<param-value>/WEB-INF/jumpPages.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>leibniz.hu.index.indexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>leibniz.hu.book.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>leibniz.hu.order.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>leibniz.hu.user.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCheckCode</servlet-name>
    <servlet-class>leibniz.hu.user.GetCheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>leibniz.hu.order.OrderServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/secury/buyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCheckCode</servlet-name>
    <url-pattern>/getCheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/secury/orderServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <listener>
        <listener-class>leibniz.hu.listener.JumpPageConfigListener</listener-class>
    </listener>
    <filter>
        <filter-name>charset</filter-name>
        <filter-class>leibniz.hu.filter.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>charset</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>login</filter-name>
        <filter-class>leibniz.hu.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/secury/*</url-pattern>
    </filter-mapping>
</web-app>
